<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="/images/shorcut.ico" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
