body
{
	background-color: #AAAAAA;
	font: 14px/1.5em Verdana, Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

table
{
	font: 14px/1.5em Verdana, Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

.box
{
    width: 75%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 4px #444444;
    margin: 32px auto;
    padding: 32px 64px;
    text-align: justify;
}

A {color: #0000AA; text-decoration: none}
A:link {color: #0000AA; TEXT-DECORATION: none}
A:visited {color: #0000AA; TEXT-DECORATION: none}
A:hover {color: #0000AA; TEXT-DECORATION: underline}

h1
{
	background-color: #FFFFFF;
	color: #00;
    line-height: 1.5em;
	font-size: 32px;
    padding: 0px 0px 32px 0px;
    text-align: center;
}

h2
{
	background-color: #FFFFFF;
	color: #000;
	font-size: 20px;
    line-height: 1.5em;
    padding: 2px 24px 2px 24px;
    border: 1px solid #000;
}

h3
{
	background-color: #FFFFFF;
    color: #000;
    font-size: 18px;
    text-decoration: underline;
    text-align: left;
}

img 
{ 
    max-width: 100%;
    max-height: 100%;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover,
h2 a, h2 a:link, h2 a:visited, h2 a:hover,
h3 a, h3 a:link, h3 a:visited, h3 a:hover {
    color: #000;
}

pre
{
	background-color: #EEEEEE;
    padding: 0px 24px;
    border: 1px solid #000;
    font: 12px/1.5em "Courier New";
}

.inlinecode { font-family: "Courier New"; }