<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="shortcut icon">
        <link href="blog/blog.css" rel="stylesheet" type="text/css">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://buu342.me/blog.html">
        <meta property="og:title" content="Blog">
        <meta property="og:image" content="https://buu342.me/memyselfi.png">
        <meta property="og:description" content="Come read some of my words." />
    </head>
    
    <body>
        <div class="box">
            <h1>Blog</h1>
            <p>This page is a collection of musings. You can look at projects I've put together, or read my inane ramblings.</p>
            <h5>Last updated _TEMPLATE_BLOG_DATE_</h5>
            <hr>
            
_TEMPLATE_BLOG_LIST_
            
            <hr>
            <td><a href="..">Return to home</a></td>
        </div>
        <script src="blog/blog.js"></script>
    </body>
</html>