                <a href="_TEMPLATE_BLOG_URL_" style="text-decoration: none; font-size: 0px;" title="_TEMPLATE_BLOG_TOOLTIP_">
                  <div class="blogiconcontainer">
                    <div class="blogiconheader">
                      <span class="blogiconheadertext">_TEMPLATE_BLOG_TITLE_</span>
                    </div>
                    <div class="blogiconbody">
                      <img src="_TEMPLATE_BLOG_IMAGE_" alt="_TEMPLATE_BLOG_TITLE_" loading="lazy">
                    </div>
                  </div>
                </a>