<!DOCTYPE html>
<html>
    <head>
        <title>_TEMPLATE_BLOG_TITLE_</title>
        <link rel="shortcut icon">
        <link href="../blog.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="box">
            <h1>_TEMPLATE_BLOG_TITLE_</h1>
            <hr>
            <h5>Published: _TEMPLATE_BLOG_DATE_</h5>
            _TEMPLATE_BLOG_CONTENT_        
            <hr>
            <td><a href="../../blog.html#_TEMPLATE_BLOG_CATEGORY_">Return to blog</a></td>
        </div>
        <script src="../blog.js"></script>
    </body>
</html>