<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="shortcut icon">
        <link href="projects/projects.css" rel="stylesheet" type="text/css">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://buu342.me/projects.html">
        <meta property="og:title" content="Projects">
        <meta property="og:image" content="https://buu342.me/memyselfi.png">
        <meta property="og:description" content="Come look at some of my things." />
    </head>
    
    <body>
        <div class="box">
            <h1>Projects</h1>
            <p>This page is a collection of things™ I have done over the years. This is not a comprehensive list, otherwise this page would be littered with small or unfinished projects!</p>
            <h5>Last updated _TEMPLATE_PROJECTS_DATE_</h5>
            <hr>
            
_TEMPLATE_PROJECTS_LIST_
            
            <hr>
            <td><a href="..">Return to home</a></td>
        </div>
        <script src="projects/projects.js"></script>
    </body>
</html>