<html>
    <head>
        <title>_TEMPLATE_PROJECTS_TITLE_</title>
        <link rel="shortcut icon">
        <link href="../projects.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="box">
            <h1>_TEMPLATE_PROJECTS_TITLE_</h1>
            <hr>
            <h5>Released: _TEMPLATE_PROJECTS_DATE_</h5>
            <p>_TEMPLATE_PROJECTS_DESCRIPTION_</p>            
            <hr>
            <td><a href="../../">Return to home</a></td>
        </div>
    </body>
</html>