<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="shortcut icon">
        <link href="projects/projects.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="box">
            <h1>Projects</h1>
            <p>This page is a collection of things™ I have done over the years. This is not a comprehensive list, otherwise this page would be littered with small or unfinished projects!</p>
            <h5>Last updated _TEMPLATE_PROJECTS_DATE_</h5>
            <hr>
            
            _TEMPLATE_PROJECTS_LIST_
            
            <hr>
            <td><a href="..">Return to home</a></td>
        </div>
        <script src="projects/projects.js"></script>
    </body>
</html>