<html>
    <head>
        <title>Projects</title>
        <link rel="shortcut icon">
        <link href="projects/projects.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="box">
            <h1>Projects</h1>
            <p>_TEMPLATE_PROJECTS_DESCRIPTION_</p>
            <h5>Last updated _TEMPLATE_PROJECTS_DATE_</h5>
            <hr>
            
            _TEMPLATE_PROJECTS_LIST_
            
            <hr>
            <td><a href="..">Return to home</a></td>
        </div>
    </body>
</html>